/* THANKS FOR PURCHASING THIS TEMPLATE */


/* You Can Change Theme Colors by Selecting the specified css stylesheet on each page */


/* 



*/


/*  Version: 1.0 */


/* Table Of Contents 
    1 - Navigation
    2 - Footer 
    3 - Global CSS 
    4 - Home Page 
    5 - Vote Page 
    6 - News Page 
    7 - Team Page 
/*  
/* 1 - START NAVIGATION */

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #37dd0d;
}

.navbar {
    min-height: 10vh;
    box-shadow: 2px 2px 8px black;
    background-color: #18191a;
    width: 100%;
}

.navbar a {
    color: white;
}

.nav-mn:hover {
    text-decoration: none !important;
    cursor: pointer;
}

.nav-main {
    color: #37dd0d !important;
    left: 40px;
    font-size: 20px;
    position: absolute;
    min-height: auto;
}

.navbar-expand-md .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-size: 20px;
}


/* 2 - START FOOTER */

footer .col-lg-6,
footer .col-lg-3,
footer.col-lg-4,
footer .col-lg-2 {
    border: 0px;
}


/* 3 - START Global CSS */

body {
    color: white;
    background-color: rgba(29, 29, 29, 0.993);
}

h1 {
    font-size: 68px !important;
}

h5 {
    font-size: 30px;
}


/* 4 - START Home Page css */

.marketing h2 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 40px;
}

.feature-icon svg {
    fill: #37dd0d !important;
    width: 5rem;
    height: 5rem;
    margin: 30px;
}

.card-body .featurette-divider {
    border: 1px solid rgba(46, 43, 43, 0.918);
}


/* DISCORD POPUP */

.open-button {
    fill: #37dd0d !important;
    background-color: #1E1E1E;
    color: white;
    padding: 0px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 100px;
    border-radius: 10px;
}

.lead i {
    color: #272A2C;
}

.button-copy {
    border: none;
    color: #479c9b !important;
}

.p-one {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 24px;
    background-color: #272A2C;
    width: 50%;
    height: 6vh;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}

.p-one p i {
    margin-left: 20px;
}

.p-one p {
    padding-top: 13px;
}

span i:hover {
    color: #37dd0d;
    cursor: pointer;
}

.online-count {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.ajs-message {
    background-color: #37dd0d !important;
    position: relative;
    color: #fff;
    border: 1px solid #000000fa !important;
    border-radius: 4px !important;
    top: -85vh;
    font-size: 24px;
    text-align: center
}

.ds-wrapper {
    background-image: url("/assets/images/bg2.png");
    min-height: 60vh;
}

.ds {
    background-color: rgba(29, 29, 29, 0.876);
    min-height: 60vh;
}

.ds-logo {
    text-align: center;
    color: white;
    letter-spacing: 4px;
    font-weight: 400;
    padding-top: 40px;
    font-family: 'Rajdhani', sans-serif;
}

.ds-logo p {
    font-size: 18px;
    font-weight: 600;
    color: #37dd0d;
}

.card {
    background-color: #37dd0d;
    border: 2px solid rgba(47, 47, 47, 0.993);
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 40px;
    width: 100%;
    color: white;
    border-radius: 6px;
    text-align: center;
    width: 26rem;
    height: 16rem;
}

.card-body hr {
    border: 0.5px solid #08080836;
}

.card-text {
    font-size: 22px;
    margin-bottom: 30px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    letter-spacing: 1.25px;
}

.card-link {
    color: white;
    padding: 10px 35px 10px 35px;
    border-radius: 6px;
    background-color: #272A2C;
    font-size: 18px;
}

.card-link:hover {
    color: gray;
}

.container {
    text-align: center;
}

.container .lead {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

.jumbotron-sp {
    background-color: #37dd0d;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
}


/* 5 - START Vote Page css */

.vote-content-wrapper {
    min-height: 20vh;
    background-color: #1E1E1E;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px black;
}

.vote-content-box {
    margin-top: 25px;
    background-size: cover;
}

.vote-content-box:nth-child(1) {
    background-image: url('../assets/images/vt-bnnr-1.jpg');
}

.vote-content-box:nth-child(2) {
    background-image: url('../assets/images/vt-bnnr-2.jpg');
}

.vote-content-box:nth-child(3) {
    background-image: url('../assets/images/vt-bnnr-3.jpg');
}

.vote-content-box:nth-child(4) {
    background-image: url('../assets/images/vt-bnnr-4.jpg');
}

.vote-content-overlay {
    background-color: #031d2744;
    min-height: auto;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
}

.vote-content-overlay p {
    background-color: #37dd0d9f;
    width: 100%;
    padding-left: 20px;
    margin-bottom: 0px;
}

.vote-content-overlay .vote-btn {
    background-color: #37dd0d9f;
    width: 100%;
    padding-left: 20px;
}

.vote-content-overlay .vote-btn {
    padding-top: 30px;
}

.vote-content-box p {
    font-size: 24px;
    padding-top: 30px;
}

.vote-content-box a {
    font-size: 24px;
    color: white;
    padding-top: 30px;
    background-color: #37dd0d;
    padding: 6px 64px 6px 64px;
    border-radius: 4px;
    box-shadow: 2px 2px 24px black;
}

.vote-content-box a:hover {
    color: #c3c3c3;
    text-decoration: none;
}


/* 6 - START News Page css */

.news-content-wrapper {
    min-height: 20vh;
    background-color: #1E1E1E;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px black;
}

.news-content-box {
    margin-top: 25px;
    background-size: cover;
}

.news-content-box:nth-child(1) {
    background-image: url('../assets/images/vt-bnnr-1.jpg');
}

.news-content-box:nth-child(2) {
    background-image: url('../assets/images/vt-bnnr-2.jpg');
}

.news-content-box:nth-child(3) {
    background-image: url('../assets/images/vt-bnnr-3.jpg');
}

.news-content-box:nth-child(4) {
    background-image: url('../assets/images/vt-bnnr-4.jpg');
}

.news-content-overlay {
    background-color: #070707c7;
    min-height: 20vh;
    padding-top: 15px;
    border: 1.5px solid #37dd0d;
}

.news-content-overlay h2 {
    font-size: 50px;
}

.content-banner {
    border-right: 2px solid #292929;
    border-left: 2px solid #292929;
    min-height: 5vh;
    margin-left: -3px;
    margin-right: -3px;
    border-radius: 2px;
    padding-top: 12px;
    width: 80%;
    margin: 0 auto;
}

.news-content-overlay h2 i {
    font-size: 30px;
    color: #37dd0d;
    opacity: 0.5;
}

.news-content-overlay p {
    color: #37dd0d;
    font-size: 20px;
    background-color: #000000;
    padding: 5px 0px;
}

.content-banner a {
    padding: 6px 35px 6px 35px;
    min-height: 1vh;
    color: white;
    text-decoration: none;
    background-color: #37dd0d;
}

.content-banner a:hover {
    color: rgb(187, 187, 187);
}


/* 7 - START Team Page css */

.team-page h2 {
    margin-top: 30px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.109);
}

.team-join {
    text-align: center;
    background-color: #1E1E1E;
}

.jmbo-team {
    width: 80%;
    background-color: #37dd0d;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

.btn-staff {
    background: #1E1E1E;
    color: white;
    padding: 10px 60px 10px 60px;
}

.btn-staff:hover {
    color: #37dd0d;
}

.sr-only-main {
    color: #a7a3a3 !important;
}


/* OTHER */

.card-11 {
    width: 75%;
    display: block;
    margin: 0 auto;
    background-color: #1E1E1E !important;
    min-height: 58vh;
    border: 1px solid rgba(255, 0, 0, 0);
}

.card-txt-1 {
    font-size: 38px;
    font-weight: bold;
    color: #37dd0d;
}

.card-text-1 {
    padding: 4px;
    font-size: 18px;
    width: 75%;
    display: block;
    margin: 30px auto;
}

.card-img-top {
    height: 30vh;
    width: 90%;
    border-radius: 10px;
}

.card-img-team {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 2px solid #37dd0d;
    margin-top: 10px;
    margin-bottom: 10px;
}

.feature-area {
    width: 100%;
    background-color: #37dd0d;
    margin-top: 30px;
}

.col-lg-6,
.col-lg-3,
.col-lg-4,
.col-lg-2 {
    display: block;
    margin: 0 auto;
    background-color: #1E1E1E;
    padding: 10px 40px 10px 40px;
    border: 10px solid #37dd0d;
    border-radius: 20px;
}

.navbar-toggler {
    background-color: #37dd0d;
}


/* RESPONSIVE CSS */

@media screen and (max-width: 992px) {
    body {
        background: #1E1E1E;
    }
    .col-lg-6,
    .col-lg-3,
    .col-lg-4,
    .col-lg-2 {
        width: 62%;
    }
    .jumbotron-sp:nth-child(2) {
        margin-top: 20px;
    }
    .navbar-toggler {
        border: 1px solid transparent;
        height: auto;
    }
    .navbar-toggler i {
        margin-top: 5px;
    }
    .navbar-toggler i:hover {
        color: black;
    }
    .navbar-expand-md .navbar-nav {
        display: flex;
        flex-direction: column;
    }
    .nav-mn {
        display: none;
    }
    .card-img-top {
        height: 15vh;
        width: 100%;
    }
    .card-11 {
        min-height: 65vh;
    }
    .card-txt-1 {
        font-size: 24px;
    }
    .vote-btn a {
        font-size: 20px;
    }
}